{% extends 'base.html' %}
{% block content %}
    <div class="container">

        <h1 class="text-center text-danger">All Messages</h1>
        <div class="row">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phonenumber</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>

                  </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                  <tr>
                    <th scope="row">{{ message.id}}</th>
                    <td>{{message.firstname}} {{message.lastname}}</td>
                    <td>{{message.email}}</td>
                    <td>{{message.phonenumber}}</td>
                    <td>{{message.date|date:'D d M Y'}}</td>
                    <td>{{message.description}}</td>
                    <td>{{message.category}}</td>

                  </tr>   
                  {% endfor %}               
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}