{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNH - FeedBack</title>
    {% block styles%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% endblock %}
</head>
<body>
    <div class="container cont">
        <nav>
            <div class="logo">
                <img src="{% static 'images/knh.png' %}" alt="">
                <p>FeedBack SYS</p>
            </div>
            <ul class="navbar">
                <li><a href="nav-link" class="nav-item">Home</a></li>
                <li><a href="nav-link" class="nav-item">About</a></li>
                <li><a href="nav-link" class="nav-item">Contact</a></li>
                {% if user.is_authenticated and user.is_superuser %}
                    <li><a href="{% url 'admin_pr' %}" class="nav-item">Admin Panel</a></li>
                {% endif %}

            </ul>
        </nav>
        <div class="middlesection"></div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Error, ut culpa. Et, ullam quas. 
                Distinctio obcaecati dignissimos numquam amet fugit!</p>
        </div>
    </div>
    <main>
        {% block content%}{%endblock%}
    </main>
    <footer></footer>

    {% block scripts%}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>    {% endblock %}
</body>
</html>