{% extends 'base.html' %}
{% block content %}
    <div class="container sec mt-2">
        <h2>Feedback Form</h2>
        <hr>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-row m-0 p-0">
                <div class="form-group col-sm-6 my-0 py-0">
                    <label for="email">First name</label>
                    <input type="text" class="form-control form-control-sm" name="fname"></div>
                <div class="form-group col-sm-6 my-0 py-0">
                    <label for="text">Last name</label>
                    <input type="text" class="form-control form-control-sm"  name="lname">
                </div>                
            </div>
            <div class="form-row m-0 p-0" >
                <div class="form-group col-sm-6 my-0 py-0">
                    <label for="email">Email</label>
                    <input type="email" class="form-control form-control-sm" name="email"></div>
                <div class="form-group col-sm-6 my-0 py-0">
                    <label for="email">phonenumber</label>
                    <input type="text" class="form-control form-control-sm" name="phone">
                </div>                
            </div>
            <div class="form-row m-0 p-0" >
                <div class="form-group col-sm-6 my-0 py-0">
                    <label for="category">Category</label>
                    <select class="form-control form-control-sm" name="category">
                        {%for category in cat %}
                            <option>{{category.name}}</option>
                        {% endfor %}
                        
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="message">Example textarea</label>
                    <textarea class="form-control" name="message" rows="3"></textarea>
                </div>               
            </div>
            <div class="col-sm-6 offset-6">
                <button type="submit"  class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}