{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-6 offset-md-3">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group ">
                    {{form | crispy}}
                </div>
                <div class="form-group">
                    <button type= "submit" class="btn btn-outline-success btn-sm">Log in</button>
                </div>
            </form>
            
        </div>
    </div>
        
{% endblock %}