@import url('https://fonts.googleapis.com/css2?family=Peddana&family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */


/* TYPOGRAPHY */
body {
    font-size: 2rem;
    font-weight: 200;
    font-family: Peddana, serif;
    margin: 0px;
    background: rgb(241, 241, 241);
}
h1, h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}



/* LAYOUT */
.cont {
    height: 34vh;
    background: rgb(255, 255, 255);
    padding: 0px;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    border-radius: 0px 0px 50%;
    background: rgb(93, 206, 242);
    padding: 0px;
    margin: 0px;
}
nav .logo{
    display: flex;
    flex-grow: 2;
}
nav .logo img {
    height: 100%;
}
nav p {
    margin-left: 1em;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2em;
}
.navbar {
    position: relative;
    display: flex;
    margin-right: 2em;
}
nav ul {
    list-style: none;
}
nav ul li{
    margin-right: 2em;

}
nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 .5em;
    color: black;
}
nav ul li a:hover{
    background: white;
    border-radius: 5%;
}

.middlesection {
    height: 4vh;
}
.description {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0px 50% 0px 0px;
    background: rgba(79, 102, 62, 0.8);
    margin: 0px;
    padding: 0px;
}
.description p {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    line-height: 2rem;
    max-width: 50%;
    margin: 0px auto;
}

.sec{
    padding: 2em;
    box-shadow: 3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    ;
}
form label{
    font-size: 1.5rem !important;
}